.headexp_main {
    background-color: lightgray;
    width: 100%;
    height: fit-content;
    box-shadow:  1px 1px 3px yellow, 0 0 0.2em white, 0 0 0.7em black;
}
.headexp_head {
    border: 2px solid rgb(116, 114, 114);
    border-radius: 3px;
}
.headexp_body {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    border: 2px solid rgb(116, 114, 114);
    border-top: none;
}