html, body {
    margin: 0;
    padding: 0;
}
#main_element{
    background-color: rgb(161, 151, 151);
    width: 100%;
    height: 100%;
}
#page_divider_base{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 90%;
    height: 100vh;
}
#navbar_divider_base{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    height: 100%;
    width: max-content;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgb(138, 132, 132);
    border: 2px solid rgb(116, 114, 114);
    border-radius: 5px;
    width: auto;
}
#title_name{ 
    text-shadow: 1px 1px 3px yellow, 0 0 1em white, 0 0 0.2em black;
    background-color: rgb(138, 132, 132);
    font-size: 2.3em;
    font-weight: bold;
    font-family: Courier New;
    text-decoration: none;
    overflow-x: hidden;
    color: black;
    width: 100%;
    height: fit-content
}
#content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 200px;
    grid-gap: 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.isolate_elem {
    padding: 10px;
    margin: 5px;
}
.bordered_elem {
    border: 2px solid rgb(116, 114, 114);
    border-radius: 2px;
    box-shadow:  1px 1px 3px yellow, 0 0 0.2em white, 0 0 0.7em black
}
.link_elem {
    background-color: rgb(167, 158, 158);
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial;
}
.flex_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}